{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Edytuj kontrahenta'
    }) }}
{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
    <div class="material-input">
        {{ form_widget(edit_form) }}
    </div>
    <input class="material-btn" type="submit" value="Edit"/>
    {{ form_end(edit_form) }}

    <a class="material-btn" href="{{ path('contractor_index') }}">Back to the list</a>
    {{ form_start(delete_form) }}
    <input class="material-btn" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
