{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Kontrahenci',
        'add': path('contractor_new')
    }) }}
{% endblock %}

{% block body %}

    <div>
        {{ knp_pagination_filter(pagination, {'contractor.name' : 'Nazwa'}) }}
    </div>
    <table>
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 'contractor.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'VAT ID', 'contractor.vatId') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contractor in pagination %}
            <tr>
                <td>{{ contractor.name }}</td>
                <td>{{ contractor.vatId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contractor_show', { 'id': contractor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contractor_edit', { 'id': contractor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
