{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Kontrahenci',
        'add': path('contractor_new')
    }) }}
{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Vatid</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contractor in contractors %}
            <tr>
                <td>{{ contractor.name }}</td>
                <td>{{ contractor.vatId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contractor_show', { 'id': contractor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contractor_edit', { 'id': contractor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
