{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Kontrahent'
    }) }}
{% endblock %}

{% block body %}
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ contractor.id }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{% if contractor.dateCreated %}{{ contractor.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Lastupdated</th>
            <td>{% if contractor.lastUpdated %}{{ contractor.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ contractor.name }}</td>
        </tr>
        <tr>
            <th>Vatid</th>
            <td>{{ contractor.vatId }}</td>
        </tr>
        </tbody>
    </table>

    <a class="material-btn" href="{{ path('contractor_index') }}">Back to the list</a>
    <a class="material-btn" href="{{ path('contractor_edit', { 'id': contractor.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
    <input class="material-btn" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
