{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contractors list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Version</th>
            <th>Datecreated</th>
            <th>Lastupdated</th>
            <th>Name</th>
            <th>Vatid</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contractor in contractors %}
            <tr>
                <td><a href="{{ path('contractors_show', { 'id': contractor.id }) }}">{{ contractor.id }}</a></td>
                <td>{{ contractor.version }}</td>
                <td>{% if contractor.dateCreated %}{{ contractor.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if contractor.lastUpdated %}{{ contractor.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ contractor.name }}</td>
                <td>{{ contractor.vatId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contractors_show', { 'id': contractor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contractors_edit', { 'id': contractor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contractors_new') }}">Create a new contractor</a>
        </li>
    </ul>
{% endblock %}
