{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendances list</h1>

    <table>
        <thead>
        <tr>
            <th>Timein</th>
            <th>Timeout</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr>
                <td>{% if attendance.timeIn %}{{ attendance.timeIn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if attendance.timeOut %}{{ attendance.timeOut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ attendance.notes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('attendance_show', { 'id': attendance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('attendance_edit', { 'id': attendance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attendance_new') }}">Create a new attendance</a>
        </li>
    </ul>
{% endblock %}
