{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Godziny pracy'
    }) }}
{% endblock %}

{% block body %}
    <table>
        <tbody>
        <tr>
            <th>Data dodania</th>
            <td>{% if attendance.dateCreated %}{{ attendance.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Data aktualizacji</th>
            <td>{% if attendance.lastUpdated %}{{ attendance.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Czas wejścia</th>
            <td>{% if attendance.timeIn %}{{ attendance.timeIn|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Czas wyjścia</th>
            <td>{% if attendance.timeOut %}{{ attendance.timeOut|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Czas pracy</th>
            <td>
                {% if attendance.timeIn and attendance.timeOut %}
                    {% set timeDiff = attendance.timeIn.diff(attendance.timeOut) %}
                    {% set hours = timeDiff.h + timeDiff.days * 24 %}
                    {% set minutes = timeDiff.i %}
                    {{ "%d:%02d"|format(hours, minutes) }}
                {% endif %}
            </td>
        </tr>
        {% if is_granted('ROLE_ALLOWED_VIEW_ATTENDANCE_OTHERS') %}
            <tr>
                <th>Pracownik</th>
                <td>{{ attendance.user.firstName ~ ' ' ~ attendance.user.lastName }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Notatki</th>
            <td>{{ attendance.notes }}</td>
        </tr>
        </tbody>
    </table>
    <a class="material-btn" href="{{ path('attendance_index') }}">Powrót do listy</a>
    {% if is_granted('edit', attendance) %}
        <a class="material-btn" href="{{ path('attendance_edit', { 'id': attendance.id }) }}">Edytuj</a>
        {{ form_start(delete_form) }}
        <input class="material-btn" type="submit" value="Usuń">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
