{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Licencje',
        'add': path('license_new')
    }) }}
{% endblock %}

{% block body %}
    <div>
        {{ knp_pagination_filter(pagination, {
            'license.inventoryNumber' : 'Numer' ,
            'license.name' : 'Nazwa',
            'license.serialKey' : 'Klucz seryjny',
            'license.validationDate' : 'Data ważności',
            'license.techSupportEndDate' : 'Data wsparcia technicznego',
            'license.purchaseDate' : 'Data zakupu'
        }) }}
    </div>
    <table>
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Numer', 'license.inventoryNumber') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 'license.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Klucz seryjny', 'license.serialKey') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Data ważności', 'license.validationDate') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Data wsparcia technicznego', 'license.techSupportEndDate') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Data zakupu', 'license.purchaseDate') }}</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for license in pagination %}
            <tr>
                <td>{{ license.inventoryNumber }}</td>
                <td>{{ license.name }}</td>
                <td>{{ license.serialKey }}</td>
                <td>{% if license.validationDate %}{{ license.validationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if license.techSupportEndDate %}{{ license.techSupportEndDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if license.purchaseDate %}{{ license.purchaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ license.notes }}</td>
                <td>
                            <a class="material-btn" href="{{ path('license_show', { 'id': license.id }) }}">show</a>
                            <a class="material-btn" href="{{ path('license_edit', { 'id': license.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
