{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Licencja'
    }) }}
{% endblock %}

{% block body %}
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ license.id }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{% if license.dateCreated %}{{ license.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Lastupdated</th>
            <td>{% if license.lastUpdated %}{{ license.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Inventorynumber</th>
            <td>{{ license.inventoryNumber }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ license.name }}</td>
        </tr>
        <tr>
            <th>Serialkey</th>
            <td>{{ license.serialKey }}</td>
        </tr>
        <tr>
            <th>Validationdate</th>
            <td>{% if license.validationDate %}{{ license.validationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Techsupportenddate</th>
            <td>{% if license.techSupportEndDate %}{{ license.techSupportEndDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Purchasedate</th>
            <td>{% if license.purchaseDate %}{{ license.purchaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ license.notes }}</td>
        </tr>
        {% if license.embeddedFile.name %}
            <tr>
                <th>Plik</th>
                <td><a href="{{ path('license_download', { 'id': license.id }) }}">Pobierz</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a class="material-btn" href="{{ path('license_index') }}">Back to the list</a>
    <a class="material-btn" href="{{ path('license_edit', { 'id': license.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
    <input class="material-btn" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
