{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Dokumenty',
        'add': path('document_new')
    }) }}
{% endblock %}

{% block body %}
    <div>
        {{ knp_pagination_filter(pagination, {'document.idInternal' : 'Wewnętrzne ID' ,'document.description' : 'Opis'}) }}
    </div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ knp_pagination_sortable(pagination, 'Wewnętrzne ID', 'document.idInternal') }}</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for document in pagination %}
            <tr>
                <td><a class="material-btn" href="{{ path('document_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
                <td>{{ document.idInternal }}</td>
                <td>{{ document.description }}</td>
                <td>
                <a class="material-btn" href="{{ path('document_show', { 'id': document.id }) }}">show</a>
                <a class="material-btn" href="{{ path('document_edit', { 'id': document.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
