{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Dokument'
    }) }}
{% endblock %}

{% block body %}
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ document.id }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{% if document.dateCreated %}{{ document.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Lastupdated</th>
            <td>{% if document.lastUpdated %}{{ document.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Idinternal</th>
            <td>{{ document.idInternal }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ document.description }}</td>
        </tr>
        {% if document.embeddedFile.name %}
            <tr>
                <th>Plik</th>
                <td><a href="{{ vich_uploader_asset(document, 'file') }}">Pobierz</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

            <a class="material-btn" href="{{ path('document_index') }}">Back to the list</a>
            <a class="material-btn"  href="{{ path('document_edit', { 'id': document.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
            <input class="material-btn"  type="submit" value="Delete">
            {{ form_end(delete_form) }}
{% endblock %}
