{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Dokument'
    }) }}
{% endblock %}

{% block body %}
    <table>
        <tbody>
        <tr>
            <th>Data utworzenia</th>
            <td>{% if document.dateCreated %}{{ document.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Data modyfikacji</th>
            <td>{% if document.lastUpdated %}{{ document.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Wewnętrzne ID</th>
            <td>{{ document.idInternal }}</td>
        </tr>
        {% if document.contractor %}
            <tr>
                <th>Kontrahent</th>
                <td>
                    <a href="{{ path('contractor_show', { 'id': document.contractor.id }) }}">{{ document.contractor.name }}</a>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Opis</th>
            <td>{{ document.description }}</td>
        </tr>
        {% if document.embeddedFile.name %}
            <tr>
                <th>Plik</th>
                <td><a href="{{ path('document_download', { 'id': document.id }) }}">Pobierz</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a class="material-btn" href="{{ path('document_index') }}">Powrót do listy</a>
    <a class="material-btn" href="{{ path('document_edit', { 'id': document.id }) }}">Edytuj</a>
    {{ form_start(delete_form) }}
    <input class="material-btn" type="submit" value="Usuń">
    {{ form_end(delete_form) }}
{% endblock %}
