{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoice</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ invoice.id }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ invoice.version }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{% if invoice.dateCreated %}{{ invoice.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Lastupdated</th>
            <td>{% if invoice.lastUpdated %}{{ invoice.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ invoice.number }}</td>
        </tr>
        <tr>
            <th>Invoicedate</th>
            <td>{% if invoice.invoiceDate %}{{ invoice.invoiceDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Amountnet</th>
            <td>{{ invoice.amountNet }}</td>
        </tr>
        <tr>
            <th>Amountgross</th>
            <td>{{ invoice.amountGross }}</td>
        </tr>
        <tr>
            <th>Amounttax</th>
            <td>{{ invoice.amountTax }}</td>
        </tr>
        <tr>
            <th>Currency</th>
            <td>{{ invoice.currency }}</td>
        </tr>
        <tr>
            <th>Amountnetcurrency</th>
            <td>{{ invoice.amountNetCurrency }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('invoices_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('invoices_edit', { 'id': invoice.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
