{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Faktury',
        'add': path('invoice_new')
    }) }}
{% endblock %}

{% block body %}
    <div>
        {{ knp_pagination_filter(pagination, {
            'invoice.number' : 'Numer' ,
            'invoice.amountNet' : 'Kwota netto',
            'invoice.amountGross' : 'Kwota brutto',
            'invoice.currency' : 'Waluta'
        }) }}
    </div>
    <table>
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Numer', 'invoice.number') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Data', 'invoice.invoiceDate') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Kwota netto', 'invoice.amountNet') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Kwota brutto', 'invoice.amountGross') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Waluta', 'invoice.currency') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in pagination %}
            <tr>
                <td>{{ invoice.number }}</td>
                <td>{% if invoice.invoiceDate %}{{ invoice.invoiceDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ invoice.amountNet }}</td>
                <td>{{ invoice.amountGross }}</td>
                <td>{{ invoice.currency }}</td>
                <td>
                            <a class="material-btn" href="{{ path('invoice_show', { 'id': invoice.id }) }}">show</a>
                            <a class="material-btn" href="{{ path('invoice_edit', { 'id': invoice.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
