{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoices list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Invoicedate</th>
            <th>Amountnet</th>
            <th>Amountgross</th>
            <th>Currency</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td><a href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.id }}</a></td>
                <td>{{ invoice.number }}</td>
                <td>{% if invoice.invoiceDate %}{{ invoice.invoiceDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ invoice.amountNet }}</td>
                <td>{{ invoice.amountGross }}</td>
                <td>{{ invoice.currency }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('invoice_show', { 'id': invoice.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('invoice_edit', { 'id': invoice.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('invoice_new') }}">Create a new invoice</a>
        </li>
    </ul>
{% endblock %}
