{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Dodawanie faktury'
    }) }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="material-input">
    {{ form_widget(form) }}
</div>
    <input class="material-btn" type="submit" value="Create"/>
    {{ form_end(form) }}
    <a  class="material-btn"  href="{{ path('invoice_index') }}">Back to the list</a>
{% endblock %}
