{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Faktura'
    }) }}
{% endblock %}

{% block body %}
    <table>
        <tbody>
        <tr>
            <th>Data utworzenia</th>
            <td>{% if invoice.dateCreated %}{{ invoice.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Data modyfikacji</th>
            <td>{% if invoice.lastUpdated %}{{ invoice.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Numer</th>
            <td>{{ invoice.number }}</td>
        </tr>
        <tr>
            <th>Numer wewnętrzny</th>
            <td>{{ invoice.internalNumber }}</td>
        </tr>
        <tr>
            <th>Data faktury</th>
            <td>{% if invoice.invoiceDate %}{{ invoice.invoiceDate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'amountNet'|trans }}</th>
            <td>{{ invoice.amountNet }}</td>
        </tr>
        <tr>
            <th>{{ 'amountGross'|trans }}</th>
            <td>{{ invoice.amountGross }}</td>
        </tr>
        <tr>
            <th>{{ 'currency'|trans }}</th>
            <td>{{ invoice.currency }}</td>
        </tr>
        <tr>
            <th>{{ 'amountNetCurrency'|trans }}</th>
            <td>{{ invoice.amountNetCurrency }}</td>
        </tr>
        {% if invoice.contractor %}
            <tr>
                <th>Kontrahent</th>
                <td>
                    <a href="{{ path('contractor_show', { 'id': invoice.contractor.id }) }}">{{ invoice.contractor.name }}</a>
                </td>
            </tr>
        {% endif %}
        {% if invoice.embeddedFile.name %}
            <tr>
                <th>Plik</th>
                <td><a href="{{ path('invoice_download', { 'id': invoice.id }) }}">Pobierz</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a class="material-btn" href="{{ path('invoice_index') }}">Back to the list</a>
    {% if is_granted('ROLE_ALLOWED_EDIT_INVOICE') %}
        <a class="material-btn" href="{{ path('invoice_edit', { 'id': invoice.id }) }}">Edit</a>
        {{ form_start(delete_form) }}
        <input class="material-btn" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
