{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Faktura'
    }) }}
{% endblock %}

{% block body %}
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ invoice.id }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{% if invoice.dateCreated %}{{ invoice.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Lastupdated</th>
            <td>{% if invoice.lastUpdated %}{{ invoice.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ invoice.number }}</td>
        </tr>
        <tr>
            <th>Invoicedate</th>
            <td>{% if invoice.invoiceDate %}{{ invoice.invoiceDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Amountnet</th>
            <td>{{ invoice.amountNet }}</td>
        </tr>
        <tr>
            <th>Amountgross</th>
            <td>{{ invoice.amountGross }}</td>
        </tr>
        <tr>
            <th>Currency</th>
            <td>{{ invoice.currency }}</td>
        </tr>
        {% if invoice.embeddedFile.name %}
            <tr>
                <th>Plik</th>
                <td><a href="{{ path('invoice_download', { 'id': invoice.id }) }}">Pobierz</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a class="material-btn" href="{{ path('invoice_index') }}">Back to the list</a>
    <a class="material-btn" href="{{ path('invoice_edit', { 'id': invoice.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
    <input class="material-btn" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
