{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Wyposażenie',
        'add': path('equipment_new')
    }) }}
{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Inventorynumber</th>
            <th>Name</th>
            <th>Serialnumber</th>
            <th>Validationdate</th>
            <th>Purchasedate</th>
            <th>Pricenet</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for equipment in equipment %}
            <tr>
                <td><a href="{{ path('equipment_show', { 'id': equipment.id }) }}">{{ equipment.id }}</a></td>
                <td>{{ equipment.inventoryNumber }}</td>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.serialNumber }}</td>
                <td>{% if equipment.validationDate %}{{ equipment.validationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if equipment.purchaseDate %}{{ equipment.purchaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ equipment.priceNet }}</td>
                <td>{{ equipment.notes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipment_show', { 'id': equipment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('equipment_edit', { 'id': equipment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
