{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Wyposażenie',
        'add': path('equipment_new')
    }) }}
{% endblock %}

{% block body %}
    <div>
        {{ knp_pagination_filter(pagination, {
            'equipment.inventoryNumber' : 'Numer inwentarza' ,
            'equipment.name' : 'Nazwa',
            'equipment.serialNumber' : 'Numer seryjny',
            'equipment.validationDate' : 'Data walidacji',
            'equipment.purchaseDate' : 'Data zakupu',
            'equipment.priceNet' : 'Cena netto'
        }) }}
    </div>
    <table>
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Numer inwentarza', 'equipment.inventoryNumber') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 'equipment.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Numer seryjny', 'equipment.serialNumber') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Data walidacji', 'equipment.validationDate') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Data zakupu', 'equipment.purchaseDate') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Cena netto', 'equipment.priceNet') }}</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for equipment in pagination %}
            <tr>
                <td>{{ equipment.inventoryNumber }}</td>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.serialNumber }}</td>
                <td>{% if equipment.validationDate %}{{ equipment.validationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if equipment.purchaseDate %}{{ equipment.purchaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ equipment.priceNet }}</td>
                <td>{{ equipment.notes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipment_show', { 'id': equipment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('equipment_edit', { 'id': equipment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
