{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Dodawanie wyposażenia'
    }) }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="material-input">
        {{ form_widget(form) }}
        {{ form_row(form.validationDate, {'type' : "data"}) }}
    </div>
    <input class="material-btn" type="submit" value="Utwórz"/>
    {{ form_end(form) }}

    <a class="material-btn" href="{{ path('equipment_index') }}">Powrót do listy</a>
{% endblock %}
