{% extends 'base.html.twig' %}

{% block top %}
    {{ include('nav/top.html.twig', {
        'title': 'Wyposażenie'
    }) }}
{% endblock %}

{% block body %}
    <table>
        <tbody>
        <tr>
            <th>Data utworzenia</th>
            <td>{% if equipment.dateCreated %}{{ equipment.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Data modyfikacji</th>
            <td>{% if equipment.lastUpdated %}{{ equipment.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'inventoryNumber'|trans }}</th>
            <td>{{ equipment.inventoryNumber }}</td>
        </tr>
        <tr>
            <th>{{ 'name'|trans }}</th>
            <td>{{ equipment.name }}</td>
        </tr>
        <tr>
            <th>{{ 'serialNumber'|trans }}</th>
            <td>{{ equipment.serialNumber }}</td>
        </tr>
        <tr>
            <th>{{ 'validationDate'|trans }}</th>
            <td>{% if equipment.validationDate %}{{ equipment.validationDate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'purchaseDate'|trans }}</th>
            <td>{% if equipment.purchaseDate %}{{ equipment.purchaseDate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'priceNet'|trans }}</th>
            <td>{{ equipment.priceNet }}</td>
        </tr>
        <tr>
            <th>{{ 'notes'|trans }}</th>
            <td>{{ equipment.notes }}</td>
        </tr>
        {% if equipment.invoice %}
            <tr>
                <th>{{ 'invoice'|trans }}</th>
                <td>
                    <a href="{{ path('invoice_show', { 'id': equipment.invoice.id}) }}">{{ equipment.invoice.internalNumber }}</a>
                </td>
            </tr>
        {% endif %}
        {% if equipment.user %}
            <tr>
                <th>{{ 'user'|trans }}</th>
                <td>{{ equipment.user.firstName ~ ' ' ~ equipment.user.lastName }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a class="material-btn" href="{{ path('equipment_index') }}">Powrót do listy</a>
    {% if is_granted('ROLE_ALLOWED_EDIT_EQUIPMENT') %}
        <a class="material-btn" href="{{ path('equipment_edit', { 'id': equipment.id }) }}">Edycja</a>
        {{ form_start(delete_form) }}
        <input class="material-btn" type="submit" value="Usuń">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
