{% extends 'base.html.twig' %}

{% block body %}
    <h1>Licences list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Version</th>
            <th>Datecreated</th>
            <th>Lastupdated</th>
            <th>Inventorynumber</th>
            <th>Name</th>
            <th>Serialkey</th>
            <th>Validationdate</th>
            <th>Techsupportenddate</th>
            <th>Purchasedate</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for licence in licences %}
            <tr>
                <td><a href="{{ path('licences_show', { 'id': licence.id }) }}">{{ licence.id }}</a></td>
                <td>{{ licence.version }}</td>
                <td>{% if licence.dateCreated %}{{ licence.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if licence.lastUpdated %}{{ licence.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ licence.inventoryNumber }}</td>
                <td>{{ licence.name }}</td>
                <td>{{ licence.serialKey }}</td>
                <td>{% if licence.validationDate %}{{ licence.validationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if licence.techSupportEndDate %}{{ licence.techSupportEndDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if licence.purchaseDate %}{{ licence.purchaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ licence.notes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('licences_show', { 'id': licence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('licences_edit', { 'id': licence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('licences_new') }}">Create a new licence</a>
        </li>
    </ul>
{% endblock %}
